<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Charities Day</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="alert alert-secondary">
        <img src="../static/files/cdLogoQuiz.png" style="max-width:200px; height:auto; display: block; margin: 0 auto">
    </div>

    {% set greeting = range(1, 11) | random %}
    <div class="alert alert-success" style="text-align: center; font-size: 18px">
        {% if greeting == 1 %}
        <p><strong>{{ code }}</strong>: Cheat code activated. Entering secret level...</p>
        {% elif greeting == 2 %}
        <p>Hey <strong>{{ code }}</strong>!</p>
        {% elif greeting == 3 %}
        <p>Getting ready, <strong>{{ code }}</strong>? We know Year <strong>{{ year }}</strong> is.</p>
        {% elif greeting == 4 %}
        <p>All aboard, <strong>{{ code }}</strong>! You're on the Year <strong>{{ year }}</strong> train.</p>
        {% elif greeting == 5 %}
        <p>Hello there, Year <strong>{{ year }}</strong>. <strong>{{ code }}</strong> has the high ground.</p>
        {% elif greeting == 6 %}
        <p>Ground control to Year <strong>{{ year }}</strong>. <strong>{{ code }}</strong> has just landed.</p>
        {% elif greeting == 7 %}
        <p>Brace yourselves. <strong>{{ code }}</strong> has entered Year <strong>{{ year }}</strong></p>
        {% elif greeting == 8 %}
        <p>Alexa, play <strong>{{ code }}</strong> by Year <strong>{{ year }}</strong>.</p>
        {% elif greeting == 9 %}
        <p>Challenger Approaching - <strong>{{ code }}</strong> has appeared!</p>
        {% elif greeting == 10 %}
        <p>It's a bird. It's a plane. No, it's <strong>{{ code }}</strong></p>
        {% endif %}

    </div>

    <div class="container-fluid rounded" style="padding: 10px; background-color: rgb(240, 240, 240); border-radius: 15px; margin-left:2%; margin-right:2%; width:96%">
        <h4 style="text-align: center">Charity Events</h4>
        <p style="text-align: center">5 Credits to enter one of these events.</p>
        {% if nocredits == 1 %}
        <div class="alert alert-danger" role="alert">
            <p style="text-align: center"><strong>You have no credits.</strong></p>
            <a href="/redeemCreditCode">
                <button type="button" style="width: 100%" class="btn btn-outline-danger">Claim Credits</button>
            </a>
        </div>
        {% else %}
        <div class="alert alert-info" role="alert">
            <p style="text-align: center">You have<strong> {{ credits }} </strong>credits.</p>
            <a href="/redeemCreditCode">
                <button type="button" style="width: 100%" class="btn btn-primary">Claim more Credits</button>
            </a>
        </div>
        {% endif %}
        <form method="POST" , action="/getVote" , style="width: 100%; margin-left: auto; margin-right: auto">
            {% for vote in votes %}
            {% if vote.cost == 1 %}
            <div>
                <button style="margin-left: 5%; margin-right: 5%; font-size: 15px; width: 90%; margin-bottom:5px" class="{{ loop.cycle('btn btn-outline-primary', 'btn btn-outline-info') }}"
                    name='{{ vote.name }}' type='submit' value='{{ vote.name }}'>{{ vote.name }}
                    {% if vote.multiple %}
                    <span class="badge badge-pill badge-light">Multiple Entry</span>
                    {% else %}
                    <span class="badge badge-pill badge-light">Single Entry</span>
                    {% endif %}
                </button>
            </div>
            {% endif %}
            {% endfor %}
        </form>
        <form method='POST' action='/getQuiz' style="width: 100%; margin-left: auto; margin-right: auto">
            {% for quiz in quizzes %}
            {% if quiz.cost == 1 %}
            <div>
                <button style="margin-left: 5%; margin-right: 5%; font-size: 15px; width: 90%; margin-bottom:5px" class="{{ loop.cycle('btn btn-outline-primary', 'btn btn-outline-info') }}"
                    name='{{ quiz.name }}' type='submit' value='{{ quiz.name }}'>{{ quiz.name }}</button>
            </div>
            {% endif %}
            {% endfor %}
            </form>
            {% if quizzes|length == 0 and votes|length == 0%}
            <div style="width:100%">
                <p style="text-align: center">There are no more events available right now.</p>
            </div>
            {% endif %}
    </div>

    <hr>

    <div class="container-fluid rounded" style="padding: 10px; background-color: rgb(240, 240, 240); border-radius: 15px;margin-left:2%; margin-right:2%; width:96%">
        <h4 style="text-align: center">Free to Enter</h4>
        <p style="text-align: center">These events are completely free to participate in!</p>
        <form method="POST" , action="/getVote" , style="width: 100%; margin-left: auto; margin-right: auto">
            {% for vote in votes %}
            {% if vote.cost == 0 %}
            <div>
                <button style="margin-left: 5%; margin-right: 5%; font-size: 15px; width: 90%; margin-bottom:5px" class="{{ loop.cycle('btn btn-outline-primary', 'btn btn-outline-info') }}"
                    name='{{ vote.name }}' type='submit' value='{{ vote.name }}'>{{ vote.name }}
                    {% if vote.multiple %}
                    <span class="badge badge-pill badge-light">Multiple Entry</span>
                    {% else %}
                    <span class="badge badge-pill badge-light">Single Entry</span>
                    {% endif %}
                </button>
            </div>
            {% endif %}
            {% endfor %}
        </form>
        <form method='POST' action='/getQuiz' style="width: 100%; margin-left: auto; margin-right: auto">
            {% for quiz in quizzes %}
            {% if quiz.cost == 0 %}
            <div>
                <button style="margin-left: 5%; margin-right: 5%; font-size: 15px; width: 90%; margin-bottom:5px" class="{{ loop.cycle('btn btn-outline-primary', 'btn btn-outline-info') }}"
                    name='{{ quiz.name }}' type='submit' value='{{ quiz.name }}'>{{ quiz.name }}</button>
            </div>
            {% endif %}
            {% endfor %}
        </form>
            {% if quizzes|length == 0 and votes|length == 0%}
            <div style="width:100%">
                <p style="text-align: center">There are no more events available right now.</p>
            </div>
            {% endif %}
    </div>

    <hr>
    <!-- <div class="btn btn-primary">
        <a href='/userGraphs'>
            <button style="margin-left: 5%; margin-right: 5%; font-size: 15px; width: 90%; margin-bottom:5px" name='results'
                type='submit' value='results'>Results</button>
        </a>
    </div> -->

    <div class="container-fluid rounded" style="padding: 10px; background-color: rgb(240, 240, 240); border-radius: 15px; margin-left:2%; margin-right:2%; width:96%">
        <h4 style="text-align: center">Stats</h4>
        {% if quizzesEntered == 1 and votesEntered == 1 %}
        You have entered <strong>{{ quizzesEntered }}</strong> quiz and have <strong>{{ votesEntered }}</strong> vote.
        {% elif quizzesEntered == 1 %}
        You have entered <strong>{{ quizzesEntered }}</strong> quiz and voted <strong>{{ votesEntered }}</strong>
        times.
        {% elif votesEntered == 1 %}
        You have entered <strong>{{ quizzesEntered }}</strong> quizzes and have <strong>{{ votesEntered }}</strong>
        vote.
        {% else %}
        You have entered <strong>{{ quizzesEntered }}</strong> quizzes and voted <strong>{{ votesEntered }}</strong>
        times.
        {% endif %}
    </div>

    <div class="alert alert-warning" style="margin-top: 50px; font-style: italic; height: 10px">
        <p style="text-align: center; margin-top: -10px">Powered By <strong>Team Lightning</strong> Servers
    </div>
    </p>
    <div class="alert alert-secondary" style="padding-top: 10px">
        <p style="text-align: center">Programmed by <strong>ENTITY Development</strong> and <strong>Bit Bandits</strong></p>
    </div>
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/popper.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</body>

</html>