<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Charities Day</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="alert alert-secondary">
        <img src="../static/files/cdLogoQuiz.png" style="max-width:200px; height:auto; display: block; margin: 0 auto">
    </div>

    <!-- <div class="alert alert-success">
        <p>Here is your code <strong>{{ code }}</strong> from Year <strong>{{ year }}</strong></p>
    </div> -->
    <div class="alert alert-info">
        <strong>QUIZ: {{ quizName }}</strong>
    </div>
    <div class="container rounded" style="padding: 10px; background-color: rgb(240, 240, 240); border-radius: 15px; margin-left:2%; margin-right:2%; width:96%">
        <div class="progress" style="width:80%; margin-right: 10%; margin-left:10%">
            <div id="countdownBar" class="progress-bar progress-bar-striped progress-bar-animated bg-primary" style="width: 100%"></div>
        </div>
        <p style="text-align: center"><strong id="progressLeft">5</strong> seconds remaining!</p>
    </div>
    <script>
        function move(countdownTime) {
            var elem = document.getElementById("countdownBar");
            var width = 100;
            var prg = document.getElementById("progressLeft")
            var id = setInterval(frame, (countdownTime * 10));
            function frame() {
                if (width <= 1) {
                    clearInterval(id);
                } else {
                    width--;
                    // document.getElementById("progressLeft").innerText = toString(Math.floor((width/100)*5))
                    prg.innerText = toString(Math.floor((width / 100) * 5))
                    elem.style.width = width + '%';
                }
            }
        }
        // move({{ countdownTime|safe }})
        move(5)
    </script>
    <div class="alert alert-warning">
        <h4 class="alert-heading">{{ questionName }}</h4>
        <hr>
        <form name="question" action="/getAnswer">
            {% for choice in questionChoices %}
            <div>

                <input type='radio' name='answer' id="{{ choice }}" value="{{ choice }}" autocomplete="off">
                <label for="{{ choice }}">
                    {{ choice }}
                </label>
            </div>
            {% endfor %}
            <script type="text/javascript">
                var wait = setTimeout("document.question.submit();", 5500);
            </script>
        </form>
    </div>

    <div class="alert alert-warning" style="margin-top: 50px; font-style: italic; height: 10px">
        <p style="text-align: center; margin-top: -10px">Powered By <strong>Team Lightning</strong> Servers
    </div>
    </p>
    <div class="alert alert-secondary" style="padding-top: 10px">
        <p style="text-align: center">Programmed by <strong>ENTITY Development</strong> and <strong>Bit Bandits</strong></p>
    </div>
</body>

</html>
