<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Charities Day</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="alert alert-secondary">
        <img src="../static/files/cdLogoQuiz.png" style="max-width:200px; height:auto; display: block; margin: 0 auto">
    </div>

    <div class="container-fluid" style="padding: 20px; background-color: rgb(240, 240, 240); border-radius: 15px; margin-left:2%; margin-right:2%; width:96%">
        <div class="alert alert-info">
            <strong>{{ quizName }}</strong>: Your answers have been counted.
        </div>
        <div class="alert alert-success">
            <strong>{{ code }}</strong>, you can return back to your home panel.
        </div>

        <a href="/home">
            <div class="btn btn-success" style="width: 100%">
                Return to Home
            </div>
        </a>
    </div>
    <div class="alert alert-warning" style="margin-top: 50px; font-style: italic; height: 10px">
        <p style="text-align: center; margin-top: -10px">Powered By <strong>Team Lightning</strong> Servers
    </div>
    </p>
    <div class="alert alert-secondary" style="padding-top: 10px">
        <p style="text-align: center">Programmed by <strong>ENTITY Development</strong> and <strong>Bit Bandits</strong></p>
    </div>
</body>
