<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Charities Day</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" media="screen" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
</head>

<body>
    <div class="alert alert-primary">
        <img src="/static/files/cdLogoQuiz.png" style="max-width:200px; height:auto; display: block; margin: 0 auto">
    </div>

    <div class="alert alert-success">
        <p>Here is your code <strong>{{ code }}</strong> from Year <strong>{{ year }}</strong></p>
    </div>
    <div class="alert alert-info">
        <strong>QUIZ: {{ quizName }}</strong>
    </div>
    <form method='POST' action='/getQuiz'>
        <div>
            <strong>
                -{{ questionName }}
            </strong>
        </div>
        <div class="btn-group btn-group" data-toogle="buttons">
            {{% for choice in questionChoices %}}
            <label class="btn btn-secondary">
                <input type='radio' name='{{ choice }}' value="{{ choice }}" autocomplete="off">
            </label>
            {{% endfor %}}
        </div>
    </form>


</body>