<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Charities Day</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="alert alert-primary">
        <img src="../static/files/cdLogoQuiz.png" style="max-width:200px; height:auto; display: block; margin: 0 auto">
    </div>

    <!-- <div class="alert alert-success">
        <p>Here is your code <strong>{{ code }}</strong> from Year <strong>{{ year }}</strong></p>
    </div> -->
    <div class="alert alert-info">
        <strong>{{ voteName }} Vote</strong>
    </div>

    <div class="alert alert-success">
        <h4 class="alert-heading"><strong>{{ code }}</strong>, {{ voteDescription }}</h4>
        <hr>
        <form name="voteform" action="/getVoteAnswer">
            {% for choice in voteOptions %}
            <div>

                <input type='radio' name='answer' id="{{ choice }}" value="{{ choice }}" autocomplete="off">
                <label for="{{ choice }}">
                    {{ choice }}
                </label>
            </div>
            {% endfor %}
            <div style="margin-top: 10px">
                <input class="btn btn-primary" type="submit" name="submit" value="Submit">
            </div>
            <script type="text/javascript">
                var wait = setTimeout("document.question.submit();", 30500);
            </script>
        </form>
    </div>
    <div class="alert alert-warning" style="margin-top: 50px; font-style: italic; height: 10px">
        <p style="text-align: center; margin-top: -10px">Powered By <strong>Team Lightning</strong> Servers
    </div>
    </p>
    <div class="alert alert-primary" style="padding-top: 10px">
        <p style="text-align: center">Programmed by <strong>ENTITY Development</strong> and <strong>Bit Bandits</strong></p>
    </div>
</body>

</html>
