<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Charities Day</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script></head>
<body>
    <div class="alert alert-secondary">
        <strong style="font-size: 20px">Charities Day Vote System</strong>
    </div>
    <div class="alert alert-success">
        <div style=>You're all ready to go.</div>
    </div>
    <div class="alert alert-info">
        <p>Code: <strong>{{ code }}</strong></p>
    </div>
    <div class="alert alert-info">
        Press "Vote Now" when a question appears!
    </div>
    <form method="POST" action="/submitYear" style="width: 100%; margin-left: auto; margin-right: auto">
        <button type="submit" style="margin-left: 25%; margin-right: 25%; font-size: 15px; width: 50%; height: 40px" name="vote_a" value="A" class="btn btn-default">Vote Now</button>
    </form>
    <div class="alert alert-warning" style="margin-top: 50px; font-style: italic; height: 10px">
            <p style="text-align: center; margin-top: -10px">Powered By <strong>Team Lightning</strong> Servers
        </div>
        </p>
        <div class="alert alert-secondary" style="padding-top: 10px">
                <p style="text-align: center">Programmed by <strong>ENTITY Development</strong> and <strong>Bit Bandits</strong></p>
        </div>
</body>
</html>
