<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Charities Day</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" media="screen" href ="../static/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href ="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
</head>
<body>
    <div class="alert alert-primary">
        <strong style="font-size: 20px">Charities Day Vote System</strong>
    </div>
    <div class="alert alert-success">
        <div style=>You're all ready to go.</div>
    </div>
    <div class="alert alert-info">
        Press "Vote Now" when a question appears!
    </div>
    <form method="POST" action="/submitYear" style="width: 100%; margin-left: auto; margin-right: auto">
        <button type="submit" style="margin-left: 25%; margin-right: 25%; font-size: 15px; width: 50%; height: 40px" name="vote_a" value="A" class="btn btn-default">Vote Now</button>
    </form>
    <div class="alert alert-warning" style="margin-top: 50px; font-style: italic; height: 10px">
        <p style="text-align: center; margin-top: -10px">Powered By <strong>Team Lightning</strong></div></p>
</body>
</html>
